# Database settings
DB_HOST=localhost
DB_PORT=3306
DB_NAME=pruebas
DB_USER=root
DB_PASS=

# SMTP settings outgoing
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=youruser
SMTP_PASS=yourpass
SMTP_FROM=soporte@example.com
