.NumerosSIAN {
  font-weight: bold;
  color: #1484c9;
}

.badge.badge-successParcial {
  background: #94a693;
  color: #fff;
}

.border-right {
  border-right: 1px solid rgb(215, 215, 215); /* Cambia 'gray' por el color que prefieras */
}
